@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


map-container {
  height: 800px;
  width: 800px;
  @apply z-[1005];
  @apply   p-5; 
  @apply rounded-md;
  @apply  row-start-1;
  @apply  row-end-4;
  @apply  col-start-1;
  @apply  col-end-12;
  @apply bg-black;
  }
.my-popup-content { 
  height: 400px;
  width: 400px;
  border-radius: 0.375rem;
  @apply rounded-md  flex justify-center; 
  @apply items-center border border-blue-200 border-solid ;

  
}
.trip-content{
  @apply flex justify-center  h-3/4 w-2/3 rounded-md bg-black;

}

.my-popup-arrow {
    @apply bg-black;
  }
  [role='tooltip'].my-popup-content 
  {  
    @apply rounded-md;

      box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;}
.my-popup-overlay {  
  background: rgba(0, 0, 0, 0.5);
  @apply rounded-md;
}
  
  [data-popup='tooltip'].my-popup-overlay { 
     background: transparent;}
